@use './partials/variables' as *;

@import "~bootstrap/scss/bootstrap";


.movie {
    display: flex;
    align-items: stretch;

    height: 100px;

    padding: 12px;

    border: solid 1px $primary;
    border-radius: 12px;

    .movie-body  {
        display: flex;
        flex-flow: column;
        justify-content: space-between;

        height: 100%;

        * {   
            margin: 0;
        }

        p {
            font-size: .8em;
            opacity: .8;
        }
    }
    
}